<!--
============================================
; Title: Assignment 5.4
; Author: Chris Bohnet
; Date: 19 March 2020
; Modified By:
; Description: The footer.ejs file will contain the applications main footer section. 
============================================

-->
<hr>

<footer>

    <p>© Company 2020</p>

</footer>
</html>
