<!--
============================================
; Title: Assignment 5.4
; Author: Chris Bohnet
; Date: 19 March 2020
; Modified By:
; Description: The new.ejs file  for employee records. 
============================================

-->

  <%- include('header'); -%>

  <body>
    <%- include('navbar'); -%>

    <div role="main" class="container" style="width: 50%;">
      <br /><br />

      <h2>Employee Entry Page</h2>
      <form method="post" action="/process">
        <div class="form-group">
         <!-- <label for="txtName">Name:</label>
          <input type="text" class="form-control" id="txtName" name="txtName" />
          <label for="txtName">Functions:</label>
          <input type="text" class="form-control" id="txtFunctions" name="txtFunctions" />
-->
          <table class="table table-light table-striped table-hover">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" class="form-control" id="txtFirstName" name="txtFirstName"></td>
                <td><input type="text" class="form-control" id="txtLastName" name="txtLastName" /></td>
                   
              </tr>
            </tbody>
          </table>

        </div>

        <div class="form-group">
         
          <button type="submit" class="btn btn-secondary float-right">
            Submit
          </button>
        </div>
      </form>

      <br /><br />

     <!--  <a href="/list">Return to Employees</a> -->
      <a class="" href="/list">Return to  Employee</a>
    </div>

    <%- include('scripts'); -%>
  </body>
  <%- include('footer'); -%>
